:root {
  --identifier-color: blueviolet;
  --heading-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", serif;
  --assent-color: #fdf6c4;
  --social-color: plum;
}

body {
  font-family: var(--secondary-font-family);
}
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px !important;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h4 {
  font-size: 48px !important;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.frames {
  background: var(--assent-color);
  text-align: center;
  padding: 80px 20px;
}

.frames p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.frames h2 {
  font-family: "Poppins", serif;
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}
.content-container {
  padding: 60px 20px;
}
.content h1 {
  font-size: 64px !important;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--secondary-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;

  font-family: var(--secondary-font-family);
}

.content p {
  font-size: 14px;
}
.content {
  margin: 30px;
}

.btn-daisy {
  background: var(--identifier-color) !important;
  border-radius: 4px !important;
  color: white !important;
  font-size: 18px !important;
  line-height: 27px !important;
  padding: 15px 30px !important;
}

.btn-daisy-outline {
  color: var(--identifier-color) !important;
  font-size: 18px !important;
  line-height: 27px !important;
  padding: 15px 30px !important;
  border: 1px solid var(--identifier-color) !important;
}

.project-description {
  padding: 120px 60px;
}

.logo {
  max-height: 90px;
}
.skill-set {
  font-size: 30px;
  color: blueviolet;
}

.skills-image {
  font-size: 48px !important;
}
nav {
  padding: 20px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: grey;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--identifier-color);
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--identifier-color);
  text-decoration: underline;
}

footer .contact-display {
  background-color: var(--assent-color);
  padding: 30px 100px;
  border-radius: 15px;
}

footer .contact-display p {
  margin: 0;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--identifier-color);
  background-color: lightgoldenrodyellow;
  padding: 10px 15px;

  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--social-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px !important;
    line-height: 1.5;
  }
  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 24px;
  }

  .content {
    text-align: center;
    padding: 0;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }

  .portfolio-picture {
    display: none;
  }

  nav a {
    font-size: 14px;
    margin: 5px;
  }

  footer .contact-display {
    padding: 30px;
  }

  footer .email-link {
    font-size: 18px;
  }
  .skill-set {
    font-size: 18px;
    margin: 10px 30px;
  }

  .skills-image {
    font-size: 18px;
  }
}
